<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBASUipqc_oRBPxjiOjQm3odJyBSgT3Pog</string>
	<key>GCM_SENDER_ID</key>
	<string>127130696611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COMSW4995.SwipeShare</string>
	<key>PROJECT_ID</key>
	<string>swipeshare-6509e</string>
	<key>STORAGE_BUCKET</key>
	<string>swipeshare-6509e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:127130696611:ios:c334dec1638848c107b816</string>
</dict>
</plist>
