<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-11-10T18:50:06Z</date>
	<key>WorkspacePath</key>
	<string>/Users/moniquejohnson/Documents/Columbia University/Fall 2024/Mobile App Development/robin/SwipeShare/SwipeShare.xcodeproj</string>
</dict>
</plist>
